.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  padding-top: 20px;
  list-style: none;
  margin-top: 200px; 
  background: gainsboro;
}
.footer__row {
  display: flex;
  flex-direction: column;
 
  align-items: center;
}
.footer__row > h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.footer__row > li {
  margin-bottom: 10px;
}
.footer__row > li > a {
  color: grey;
  font-size: 14px;
  text-decoration: none;
}
.footer__row > p {
  color: grey;
  font-size: 14px;
}
.footer__row > span {
  font-size: 14px;
}
.footer__row .MuiSvgIcon-root {
  font-size: 25px !important;
  cursor: pointer;
  margin: 0 2px;
}

@media (min-width: 600px) {
  .footer__row {
    width: 50%;
  }
  .footer__row > h3 {
    font-size: 17px;
  }
  .footer__row > li > a {
    font-size: 14px;
  }
  .footer__row > span {
    font-size: 14px;
  }
  .footer__row > p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .footer__row > p > span {
    font-weight: 700;
  }
  .footer__row .MuiSvgIcon-root {
    font-size: 25px !important;
    cursor: pointer;
    margin: 0 2px;
  }
}

@media (min-width: 900px) {
  .footer__row {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .footer__row {
    width: 20%;
  }
  .footer__row > h3 {
    font-size: 20px;
  }
  .footer__row > li > a {
    font-size: 16px;
  }
  .footer__row > span {
    font-size: 16px;
  }
  .footer__row > p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .footer__row .MuiSvgIcon-root {
    font-size: 32px !important;
    cursor: pointer;
    margin: 0 2px;
  }
}
